* {
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	font-size: 12px;
	font-weight: normal;
}

#field {
	width: 1200px;
	margin: auto;
	position: absolute;
	top: 30px; left: 0; bottom: 0; right: 0;
}

#players {
	position: absolute;
	top: 0px;
	width: 400px;
	height: 100%;
}

#tools {
	position: absolute;
	top: 0px;
	left: 420px;
	width: 400px;
}

.tool {
	padding: 10px;
	line-height: 20px;
	margin-bottom: 10px;
	display: none;
}

#state {
	position: absolute;
	top: 0px;
	left: 420px;
	width: 400px;
	padding: 10px;
	line-height: 20px;
}

#log {
	position: absolute;
	top: 0px;
	right: 2%;
	width: 26%;
	height: 90%;
	padding: 10px;
	line-height: 20px;
}

#showRoles {
	position: absolute;
	top: 400px;
	width: 100%;
	left: 0px;
	text-align: center;
}

.player {
	width: 100%;
	height: 30px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.num {
	width: 30px;
	height: 24px;
	position: absolute;
	top: 3px;
	left: 5px;
	line-height: 24px;
	text-align: center;
	font-size: 24px;
}

.pic {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 3px;
	left: 40px;
	background-image: url("../img/unknown.png");
	background-size: 24px 24px;
}

.name {
	height: 24px;
	line-height: 24px;
	position: absolute;
	top: 3px;
	left: 75px;
}

.valName {
	border-bottom: 1px solid blue;
	color: blue;
	cursor: pointer;
}

.role {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 3px;
	right: 156px;
	cursor: pointer;
	background-image: url("../img/none.png");
	display: none;
}

.mask {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 3px;
	right: 156px;
	cursor: pointer;
	background-image: url("../img/role.png");
}

.nomPic {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 3px;
	right: 116px;
	background-image: url("../img/nomination.png");
}

.nomNum {
	position: absolute;
	color: blue;
	top: 9px;
	right: 95px;
	width: 20px;
	text-align: center;
	text-decoration: underline;
	cursor: pointer;
}

.foulPic {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 3px;
	right: 61px;
	background-image: url("../img/foul.png");
}

.foulNum {
	position: absolute;
	color: blue;
	top: 9px;
	right: 40px;
	width: 20px;
	text-align: center;
	text-decoration: underline;
	cursor: pointer;
}

.dis {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 3px;
	right: 5px;
	cursor: pointer;
	background-image: url("../img/disqual.png");
}

.title {
	padding: 10px;
	border-bottom: 1px solid blue;
}

#roleDialog {
	display: none;
	position: fixed;
	z-index: 10;
	top: 200px;
	left: 500px;
	padding: 5px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	 -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
		  box-shadow: 0 5px 10px rgba(0,0,0,.2);

}

#roleDialog input {
	margin: 3px;
}

.nominee {
	width: 20px;
	height: 20px;
	background-color: #bbbbbb;
	text-align: center;
	cursor: pointer;
	float: left;
	margin-left: 16px;
}

.nomineeDisabled {
	opacity: 0.4;
	cursor: default;
}

.nomineeActive {
	background-color: #8888ff;
	opacity: 1;
}

.nomineeNo {
	margin-left: 0px;
}

#nominationNums {
	height: 20px;
	margin-top: 5px;
}

.votingRaw {
	height: 25px;
}

.votingNominee {
	width: 20px;
	height: 20px;
	text-align: center;
	float: left;
	margin-right: 30px;
}

.votingCount {
	width: 20px;
	height: 20px;
	background-color: #bbbbbb;
	text-align: center;
	cursor: pointer;
	float: left;
	margin-left: 10px;
}

.votingCountActive {
	background-color: #8888ff;
}

.votingCountDisabled {
	opacity: 0.4;
	cursor: default;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 140px;
  margin-top: 3px;
  padding: 0px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 0px 3px;
}

.tt-suggestion p {
  margin: 0px;
}

.tt-suggestion.tt-cursor {
  color: #000;
  background-color: #eeeeee;
}

.cntSeparator {
	font-size: 54px;
	margin: 10px 7px;
	color: #000;
}

.linkOn {
	border-bottom: 1px solid blue;
	color: blue;
	cursor: pointer;
}

.linkOff {
	border-bottom: 1px solid gray;
	color: gray;
}

.itemOn {
	opacity: 0.1;
}

.itemOff {
	opacity: 0.1;
}
